@model TomskNipiNeft.TestTask.Models.SectionPageViewModel

@using TomskNipiNeft.TestTask.Helpers;

@{
    ViewBag.Title = "Список секций";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Секции</h2>

<table class="table">
    @foreach (var item in Model.Sections)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                @Html.ActionLink("Подробности", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>

